.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin: 20px;
}



.appts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appts-header button {
  padding: 10px 5px;
  border-radius: 5px;
  height: 40px;
}

.table-container {
  align-items: center;
}

table, th, td {
  border: 1px solid var(--black);
  border-collapse: collapse;
  padding: 8px;
}

th {
  background-color: var(--black);
  color: var(--white);
}

tbody {
  background-color: var(--white);
}

.appt-time {
  background-color: var(--gray);
}

.appt-time :hover {
  color: var(--red);
  font-weight: 600;
}

.btns-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px;
  margin: 5px;
  width: 200px;
  border-radius: 10px;
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.btn-update {
  background-color: var(--black);
}

.btn-cancel {
  background-color: var(--red);
}